@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    background-color: #005C53;
    font-family: 'Roboto', sans-serif;
    
}

*{
    box-sizing: border-box;
}

main{
    background-color: #9FC131;
    border-radius: 20px;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}