@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

ul{
    list-style-type: none;
    padding: 0;
}
section{
    font-size: 22px;
    font-weight: 400;
    width: 100%;
    margin: 10px;
    transition: 0.3s;
    border-radius: 5px;
}


